.modal-dialog {
  padding-top: 0px;
  .modal-content {
    .modal-header {
      display: flex !important;
      text-align: left !important;
      justify-content: flex-start;
    }
    .modal-body {
      max-height: 80vh;
      overflow-y: auto;
    }
    .custom-modal-footer {
      .btn-link {
        width: unset;
        flex: auto;
        margin: 0;
      }
    }
  }
}
