.custom-nav {
  &.scrolled-down {
    padding-top: 0px !important;
  }
  .navbar-toggler {
    border: none;
    .navbar-toggler-bar {
      background: #fff !important;
      display: block;
      position: relative;
      width: 24px;
      height: 2px;
      border-radius: 1px;
      margin: 0 auto;
    }
  }
}
